* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#container-cabecalho{
  background-color: #F4F0EB;
}

.img-logo {
  display: flex;
  margin: 0 auto 0 auto;
  width: 200px;
}

#navegacao{
  background-color: #ebb3bb;
  padding: 10px;
}

.link-nav{
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-decoration: none;
  margin-right: 23px;
  color: #703A44;
  display: flex;
  align-items: center;
}

#container-nav{
  display: flex;
  justify-content: center;
}

.btn-entrar {
  width: 130px;
  height: 41px;
  border: none;
  border-radius: 10px;
  background: #c9828f;
  color:  #703A44;
  line-height: 29px;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}

.btn-entrar:hover{
  opacity: 0.8;
}

.btn-entrar:active{
  opacity: 0.6;
}

.link-nav:hover{
  opacity: 0.8;
}

#section-principal{
  display: inline-block;
  margin-left: 86px;
}

.img-um{
  width: 600px;
  height: 400px;
  display: inline-block;
  margin-left: 200px;
  margin-top: 144px;
}

.titulo-principal{
  display: inline-block;
  font-weight: 900;
  font-size: 50px;
  line-height: 30px;
  color: #703A44;
}

.titulo-secundario{
  font-size: 25px;
  line-height: 50px;
  font-weight: 500;
  color: #703A44;
}

p{
  width: 400px;
  font-weight: 400;
  font-size: 15px;
  color: #703A44;
  line-height: 20px;
  margin-top: 32px;
  margin-bottom: 35px;
}

.btn-explore{
  width: 239px;
  height: 64px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34.13px;
  color: #ffffff;
  background-color: #703A44;
  border: none;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0 ,0 , 0.25));
}

